.header {

    nav {
        padding: 24px;
    }
    
    &__logo {
        img {
            min-height: 100px;
            min-width: 100px;
        }

    }

    &__menu {

        > span {
            display: block;
            width: 40px;
            height: 7px;
            margin: 2px 0px;
            background: radial-gradient($azure, $maximum-red-purple);

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }

    &__links {
        > a {
            font-weight: 500;
            color: $electric-violet;
            font-size: $font-med;
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        a:hover {
            color: $steel-pink;
            transition: color 0.25s ease-in;
            }
        }
    &__login {
        font-size: $font-med;
        color: white;
        padding: 1rem 1.875rem;
        margin-right: 25px;
        background: linear-gradient(to right, $electric-violet, hsla(270, 100%, 67%, 1));
        border: 1px solid transparent;
        border-radius: 50px;
        cursor: button;
        font-weight: 400;
    }
    a.header__login:hover {
        background: linear-gradient(to right, $electric-violet, $shocking-pink);
        border: 1px solid white;
    }
}