html, body {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

//No clue what this does
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(36, 36, 36);
    font-family: 'Lora', serif,'Kumbh Sans', sans-serif;
    font-size: $font-med;
    line-height: 1.3;
}
// Prompt & option-buttons
div.prompt-container {
    max-width: 100%;
    background-color: #333;
    padding: .75rem .75rem;
    margin: 0rem;
    //border-radius: 5px;
    //border: 10px solid green;
    box-shadow: 0 0 10px 2px;
}

div.columns {
    display: flex;
    flex: 0;
    flex-direction: column;
    color: white;
    width: auto;
}

// <a> styling
a.button {
     padding:0.3em 1.2em;
     margin: 0em 0em;
     border:0.16em solid rgba(255,255,255,0);
     box-sizing: border-box;
     //font-family:'Roboto',sans-serif;
     font-weight:300;
     color: white;
     text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
     text-align:left;
     transition: all 0.2s;
     //background-color: $maximum-red-purple;
     background: linear-gradient(0.25turn, $maximum-red-purple, $electric-violet);
     border: 1px solid black;
}
a.button:hover{
    border-color: rgba(255,255,255,1);
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media all and (max-width:30em){
    a.button{
    display:block;
    margin:0.2em 0px;
    }
}

a, a:visited, a:hover {
    text-decoration: none;
}


// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-fs {
        align-items: flex-start;
    }
}

// Buttons
.btn {
    padding: 1rem 1.875rem;
    background: linear-gradient(to right, $electric-violet, hsla(270, 100%, 67%, 1));
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: button;
    font-weight: 400;
    color: white;
}

// Hides
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

.hide {
    display: none;
}

//Breakpoints
@include breakpoint-down(medium) {
    body {
        a.button {
            padding: 1em;
                &:not(:last-child){
                    margin-bottom: .75em;
            }
        }
    }
}

//No scroll bars for small screens on browsers that support webkit. Fixed button display on small screens w/ block display
@include breakpoint-down(small) {
    html {
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }
        body {
            div.columns {
                display: block;
            }
        }
    }
}