.header {

    // Hamburger Open Styles
    &.open {

        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image: linear-gradient($transparent-fogra, $tyrian-purple);
    }

    nav {
        background-color: #333;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    
    &__logo {
        img {
            min-height: 100px;
            min-width: 100px;
        }

    }

    &__toggle {

        > span {
            display: block;
            width: 40px;
            height: 6px;
            margin: 2px 0px;
            background: radial-gradient($azure, $maximum-red-purple);
            transition: all 300ms ease-in-out;
            transform-origin: 5px 3px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        position: absolute;
        width: calc(100% - 1.5rem);
        left: 50%;
        transform: translateX(-50%);
        background: #333;
        margin-top: 1.5rem;
        padding: 1.25rem;
        border-radius: 23px;

        a {
            display: block;
            color: $electric-violet;
            padding: 0.625rem;
            text-align: center;
        }
    }
    @include breakpoint-down(small) { //Extra padding for mobile screens
        .header__menu {
            width: calc(100% - 1.28rem);
        }
    }

    &__links {
        > a {
            font-weight: 500;
            color: $electric-violet;
            font-size: $font-med;
            &:not(:last-child){
                margin-right: 15px;
            }
        }
        a:hover {
            color: $steel-pink;
            transition: color 0.25s ease-in;
            }
        &__disabled {
            cursor: not-allowed;
            pointer-events: all;
            color: gray;
            }
        }

    &__login {
        font-size: $font-med;
        color: white;
        padding: 1rem 1.875rem;
        margin-right: 25px;
        background: linear-gradient(to right, $electric-violet, hsla(270, 100%, 67%, 1));
        border: 1px solid transparent;
        border-radius: 50px;
        cursor: button;
        font-weight: 400;
    }
    a.header__login:hover {
        background: linear-gradient(to right, $electric-violet, $shocking-pink);
        border: 1px solid white;
    }


}