//Colors

$tyrian-purple: hsla(321, 56%, 22%, 1);
$maximum-red-purple: hsla(321, 54%, 42%, 1);
$medium-turquoise: hsla(180, 66%, 56%, 1);
$steel-pink: hsla(304, 68%, 54%, 1);
$rich-black-fogra-39: hsla(0, 0%, 5%, 1);
$transparent-fogra: hsla(0, 0%, 5%, .70);
$green: rgb(3, 209, 48);

//Accents
$capri: hsla(198, 100%, 57%, 1);
$azure: hsla(210, 82%, 50%, 1);
$electric-violet: hsla(270, 100%, 57%, 1);
$fuchsia: hsla(299, 80%, 54%, 1);
$shocking-pink: hsla(316, 100%, 53%, 1);

//Font-Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px