<body>
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
            <a href="/" class="header__logo">
                <img src="public/images/software-engineer.svg" alt="arcanity">
            </a>
            <a href="#" class="header__menu hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="header__links hide-for-mobile">
                <a href="http://">Home</a>
                <a href="http://">About</a>
                <a href="http://">Contact</a>
                <a href="http://">Blog</a>
                <a href="https://github.com/Mardahak" target="_blank">GitHub</a>
            </div>
            <a href="#" class="header__login hide-for-mobile">Login</a>
        </nav>
    </header>