      <!---Search Bar--->
      <div class="search-wrapper">
        <label for="search">Search</label>
        <input type="search" id="search" data-search>
    </div>
    <div class="user-cards" data-user-cards-container></div>
    <template data-user-template>
        <div class="card">
            <div class="header" data-header>My Name</div>
            <div class="body" data-body>email@gmail.com</div>
        </div>
    </template>