<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lora:wght@500&display=swap" rel="stylesheet">
    <link href="public/scss/style.css" rel="stylesheet" type="text/css">
    <script defer src="./searchBar.js"></script>
    <script defer src="./game.js"></script>
    <title>Arcanity</title>
</head>
<body>
    <header class="header">
        <nav class="flex flex-jc-sb flex-ai-c">
            <a href="/" class="header__logo">
                <img src="public/images/software-engineer.svg" alt="arcanity">
            </a>
            <a href="#" class="header__menu hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="header__links hide-for-mobile">
                <a href="http://">Home</a>
                <a href="http://">About</a>
                <a href="http://">Contact</a>
                <a href="http://"></a>
                <a href="https://github.com/Mardahak" target="_blank">GitHub</a>
            </div>
            <a href="#" class="header__login hide-for-mobile">Login</a>
        </nav>
    </header>

    <!-- Blog Postings -->
    <div class="container">
        <h1 class="article-header">New Article</h1>
        <form action="/articles" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>

      <!---Search Bar--->
    <div class="search-wrapper">
        <label for="search">Search</label>
        <input type="search" id="search" data-search>
    </div>
    <div class="user-cards" data-user-cards-container></div>
    <template data-user-template>
        <div class="card">
            <div class="header" data-header>My Name</div>
            <div class="body" data-body>email@gmail.com</div>
        </div>
    </template>
</body>
</html>